name: tweetguess
description: TweetGuess - the new gamification of your politicians and their tweets, trying to make you more attentious to the statements made in politics

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: "^3.0.0"

dependencies:
  bloc: ^8.0.0
  flutter_bloc: ^8.1.2
  hydrated_bloc: ^9.1.0
  rxdart: ^0.28.0
  sliver_tools: ^0.2.10

  # Diverse Utilities
  google_fonts: ^6.2.1
  animations: ^2.0.1
  http: ^1.2.1
  url_launcher: ^6.3.0
  provider: ^6.0.4
  jwt_decode: ^0.3.1
  path_provider: ^2.0.1
  uuid: ^4.4.0
  introduction_screen: ^3.1.1
  animated_widgets: ^1.1.0
  # dio: ^4.0.0
  # dio_retry:
  #  git:
  #    url: https://github.com/Golapadeog/dio_retry.git
  #    path: dio_retry
  #    ref: null-safety-migration
  # flutter_bcrypt: ^1.0.6
  flutter_oss_licenses: ^3.0.2
  flutter_localizations:
    sdk: flutter

  # UI Stuff
  flutter_native_splash: ^2.2.16
  blur: ^4.0.0
  flex_color_scheme: ^7.1.0
  flutter_launcher_icons: ^0.13.1
  info_popup:
    git:
      url: https://github.com/flawnn/custom_info_popup.git
      ref: master
  responsive_sizer: ^3.1.1
  auto_size_text: ^3.0.0
  page_transition: ^2.0.9
  circular_reveal_animation: ^2.0.1
  device_preview: ^1.1.0
  easy_localization: ^3.0.1
  flutter_boring_avatars: ^2.0.1
  flutter_svg: ^2.0.10+1
  cached_network_image: 3.3.0
  gap: ^3.0.0
  circular_countdown_timer:
    git:
      url: https://github.com/flawnn/circular_countdown_timer.git
      ref: master

  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  freezed_annotation: ^2.2.0
  json_annotation: ^4.8.1
  get_it: ^7.6.0
  logger: ^2.3.0
  unique_name_generator: ^1.0.0

  # Web Compat
  universal_io: ^2.2.2
  url_strategy: ^0.3.0

  # Tracking
  sentry_flutter: ^8.3.0
  firebase_core: ^3.1.1
  firebase_analytics: ^11.1.0
  envied: ^0.5.4+1
  sensors_plus: ^6.1.0
  bloc_concurrency: ^0.2.5
  status_alert: ^1.0.1
  go_router: ^14.3.0
  share_plus: ^10.0.0
  web: ^0.5.1

dev_dependencies:
  build_runner: ^2.4.11
  test: ^1.24.0
  mockito: ^5.4.0
  flutter_test:
    sdk: flutter
  freezed: ^2.3.4
  json_serializable: ^6.8.0
  flutter_lints: ^5.0.0
  envied_generator: ^0.5.4+1

dependency_overrides:
  flutter_keyboard_visibility_web:
    git:
      url: https://github.com/raldhafiri/flutter_keyboard_visibility.git
      ref: master
      path: flutter_keyboard_visibility_web
  hive:
    git:
      url: https://github.com/Rexios80/hive
      ref: b3fda79b6a1801f6e72bf2f9cf0bd46f69e3ee9b
      path: hive
  hive_generator:
    git:
      url: https://github.com/Rexios80/hive
      ref: b3fda79b6a1801f6e72bf2f9cf0bd46f69e3ee9b
      path: hive_generator

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/icons/
    - assets/fonts/
    - assets/images/
    - assets/translations/
    - assets/tweets/
    - assets/licenses/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Pixeboy
      fonts:
        - asset: assets/fonts/8bit.ttf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_launcher_icons:
  android: true
  ios: true
  image_path_android: "assets/icons/icon.png"
  image_path_ios: "assets/icons/icon.png"
  adaptive_icon_background: "#54A9EC"
  adaptive_icon_foreground: "assets/icons/adaptive_icon_fg.png"
  web:
    generate: true
    image_path: "assets/icons/icon.png"
